<link rel="stylesheet" href="/css/header.css">
<header>
  
    
        <% if(locals.user){ %>
            <div class="container teal borderYtoX">
                <a href="/">HOME</a>
            <a href="/users/profile"><%= user.name %></a>
            <a href="/users/sign-out">sign out</a>
            </div>
        <% }else{ %>
            <div class="container teal borderYtoX">
           
                <a href="/">HOME</a>
                <a href="/users/sign-in">Sign In</a>
                <a href="/users/sign-up">Sign up</a>

            </div>
       <% } %>


    
</header>