<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('_header'); -%>
        <h1> user name :: </h1>
        <h2>
            <%=names %>
        </h2>
        <%- include('_footer'); -%>
    </body>
</html>