footer {
  background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/fries.jpg)
    top center / cover;

  //   margin: auto;
  font-family: cursive, Raleway;
  margin: 0;
  padding: 2em;
  text-align: center;
  color: white;
  font-variation-settings: "wght" 375, "GRAD" 88;
}
