body {
  background-color: rgba(153, 221, 168, 0);
  font-family: cursive;
  background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/mountains.jpg)
    center center / cover;
}
.profile {
  width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-style: italic;
  color: white;
}
